<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button"
   aria-haspopup="true" aria-expanded="false"
   (click)="show = !show">
    Placeholder
  </button>
  <div class="dropdown-menu show" *ngIf="show" aria-labelledby="dropdownMenuButton">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
